@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Press+Start+2P&family=Ubuntu:wght@300&display=swap');
* {
    padding: 0;
}
body{
 
}
#project-header p{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding:25px;
    text-align: center;
}


header {
    color:white;
    height: 15%;
    background-color:rgb(228, 215, 159);  
}

#top-nav {
    background-color:rgb(238, 187, 183);
    margin:5px 0 15px 0;
    padding:10px;
}

#circle-nav{
    display: none;
}
#circle-nav button{
    display: none;
}
.menu{
    background-color: white;
    border: 2px solid rgb(23, 46, 180);
    opacity:0;
    position:fixed;
    padding:5px;
    height:150px;
    width:90%;
    border-radius: 50px;
    transform:translateX(100%);
    z-index:1;
}

.menu-open {
    transform: translateX(0%);
    opacity:1;
}

a {
    text-decoration: none;  
    color:black;
}
#nav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding:10px 0;
    margin:0;
}
.links{
    font-family: 'Ubuntu', sans-serif;
    color:black;
    margin:0;
}
#close{
    text-align: center;
    margin: 0;
    font-size: 30px;
    color: white;
    background-color: rgb(114, 207, 250);
    border-radius: 50%;
    height: 35%;
    padding-top: 10px;
}
#menu-close{
    display: block;
    padding:0;
}

#top-nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
}
.links{
    font-family: 'Ubuntu', sans-serif;
    color:black;
   
    display: flex;
    align-items: center;
}

#proj-divs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    font-family: 'Ubuntu', sans-serif;
}


#recipe-div, #restaurant-div, #trashure-div{
    height: 60vh;
    width: 100%;
    background-color: rgb(238, 187, 182);
    font-size: 10vh;
    margin: 10px auto;
}
#recipe-div h3, #restaurant-div h3, #trashure-div h3{
    font-size: 3vh;
    padding:0 5px;
}
#recipe-div a, #restaurant-div a, #trashure-div a{
    font-size: 4vh;
    display: block;
    margin: 2px auto;
}
#recipe-div img, #restaurant-div img, #trashure-div img{
    height: 20vh;
    width:auto;
    display: block;
    margin: 8px auto 0 auto;
    border: solid 1px rgb(8, 7, 7);
}

.p-buttons{
    border: 3px dashed darkslategrey;
    border-radius: 2%;
    font-family: 'Ubuntu', cursive;
    font-size:30px;
    font-weight: 600;
}

.white-links {
    color:white;
}
.color-links {
    color:#1324c4;
}
    
h5{
    font-family: 'Ubuntu', sans-serif;
    text-align: right;
    margin-right: 10px;
}

#git-activity img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    height: auto;
    width: 95%;
    margin-top:15px;
}

#footer-nav ul {
    display: flex;
    justify-content: space-between;
    background-color:black;
    
}

.circle {
    height:75px;
    width:75px;
    border-radius: 50%;
    border: 5px dotted #c54e4e;
    margin:25px;
    font-size:15px;
    background-color: rgb(255, 208, 0);
    
}

.circle a {
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    color:black;
}
.rotate {
    transition-duration: 0.8s;
    transition-property: transform;

  }
/* change rotation specs */
.rotate:hover {
    transform: rotate(360deg);
}






/* bigger than tablet screen */
@media screen and (min-width:800px) {
    body{
        /* margin:30px; */
    }  
    header {
        /* border-radius: 3%; */
    }
    #header-div {
        height:250px;
    }
   
    #hamburger {
        display: none;
    
    }
    #top-nav {
        background-color:white;
        height: max;
        width: 95%;
        margin: 10px 15px;
        
    }
   
    #circle-nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        grid-gap:10px;
        height: max-content;
        width: 100%;
    }
    #circle-nav button{
        display:block;
        height: 125px;
        width:125px;
        border-radius: 50%;
        border: 5px dotted #c54e4e;
        margin:5px;
        font-size:10px;
        background-color: rgb(255, 208, 0);
    }

    #circle-nav a{
        display: block;
    }
  
   #proj-divs{
        display: grid;
        grid-template-rows: auto;
        padding:15px;
        margin:0;
    }

    #recipe-div, #restaurant-div, #trashure-div {
        height: 90vh;
        width: 100%;
        background-color: rgb(238, 187, 182);
        font-size: 20vh;
        margin: 10px auto;
    }
    #recipe-div h3, #restaurant-div h3, #trashure-div h3{
        font-size: 3.5vh;
        padding:0 5px;
        text-align: center;
    }
    #recipe-div a, #restaurant-div a, #trashure-div a{
        font-size: 6vh;
        font-weight: 800;
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    #recipe-div img, #restaurant-div img, #trashure-div img{
        height: 50vh;
        width:auto;
        display: block;
        margin: 8px auto 0 auto;
        border: solid 1px rgb(8, 7, 7);
    }
    .menu {
        display: none;
    }

    
    a {
        text-decoration: none;  
        color:black;
    }
    
    .links{
        font-family: 'Ubuntu', sans-serif;
        color:black;
    }
    
    a {
        text-decoration: none;  
        color:black;
    }
   
    #footer-nav ul {
        display: flex;
        justify-content: space-evenly;
        margin:25px;
        background-color:white;
        border: 3px dotted salmon;
        
    }
    
    .circle {
        height:125px;
        width:125px;
        border-radius: 50%;
        border: 5px dotted #c54e4e;
        margin:25px 0;
        font-size:15px;
        background-color: rgb(255, 208, 0);
        
    }
    
    .circle a {
        font-weight: bolder;
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        color:black;
    }
    .rotate {
        transition-duration: 0.8s;
        transition-property: transform;
    
        }
    /* change rotation specs */
    .rotate:hover {
        transform: rotate(360deg);
    }
    
}



